<h1>Add a new airport</h1>
<form action="/airports/new" method="post">
  <label for="airport-city"> Airport: </label>
  <input id="airport-city" name="airport-city" type="text">
  <button type="submit">Add Airport</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/airports">View all Flights</a></p>
