<h1>Add a new flight</h1>
<form action="/flights/new" method="post">
  <label for="flight-city"> Flight Destination: </label>
  <input id="flight-city" name="flight-city" type="text">
  <button type="submit">Add new Flight</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/flights">View all Flights</a></p>
